<html>
  <head>
    <title> new blog post</title>
  </head>
  <body>
    <h1>All Posts</h1>
    <% @posts.each do |p| %>
      Name: <%= p.name %> </br>
      Content: <%= p.content %> </br></br>
    <% end %>
 </from>
  </body>
</html>